.navBar a{
  text-decoration: none;
  border: none;
  border-style: none;
  border-radius: .3em;
  color: white;
  padding: .2em;
  padding-left: .5em;
  padding-right: .5em;
}

.navBar ul{
  display:flex;
  justify-content: space-between; 
  align-items: center;
  list-style-type: none;
  background: none;
  height: 2.5em;
  margin: 0;
  padding: 0;
}

.navBar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
li{
  font-size: calc((30vw - 8.5rem) / 7);
}
